.sidebar{
  background-color: #212c33;
    display: flex;
    flex-direction: column;
   width: 30vw;
}


.sidebar__headerProfile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    color: #afbac1;
}

.sidebar__headerProfile > h3{
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
}

.sidebar__search{
    display: flex;
    align-items: center;
    background-color: #121b21;
    height: 39px;
    padding: 10px;
}
.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: #212c33;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}
.sidebar__searchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
    
}

.sidebar__searchContainer > input{
    border:none;
    color: #afbac1;
    width: 85%;
    background-color: #212c33;
}
.sidebar__searchContainer > input:focus{
    outline: none;
}



.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid #313131;
}
    
.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}
.MuiSvgIcon-root {
    color: #afbac1 !important
}

.sidebar__chats{
    
    overflow: scroll;
    
}


@media (max-width: 700px) {
    .sidebar{
       width: 100vw;
       height: 30vh;
    }
    .sidebarChat{
        height: 20px;
        
        font-size: 12px;

    }
    .sidebar__header{
        height: 20px;
    }
   }   